<div>
    <table class="node-table">
        {%  if rows|count == 1 %}
            <tbody>
                {%  for label in labels %}
                    <tr>
                        <td class="vert-label">{{ upperFirst(label) }}</td>
                        <td class="vert-value">{{ rows[0][loop.index0] }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        {% else %}
            <thead>
                <tr>
                    {% for label in labels %}
                        <th>{{ upperFirst(label) }}</th>
                    {%  endfor %}
                </tr>
            </thead>
            <tbody>
                {%  for row in rows %}
                    <tr>
                        {% for col in row %}
                            <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                {%  endfor %}
            </tbody>
        {% endif %}
    </table>
    <textarea class="log-lines">
        {{ lines }}
    </textarea>
</div>